body{
	background-color: white;
	background-size: 100%;
}
.main{
	background-color: #CFCACA;
	min-height: 100px;
	margin-left:2%;
	margin-right:2%;
	border: solid 1px black;
	border-radius: 5px 5px 5px 5px;
	overflow: hidden;
}
.header{
	margin-bottom: 15px;
	background-color: #3B3535;
	height: 50px;
	border-top: solid 1px;
	border-bottom: solid 1px;
}
ul.head_menu li{
	display: inline-block;
	left: -5px;
}
.head_menu{
	position: relative;
	margin-left: -40px;
}
ul.head_menu li a { 
    text-decoration: none; 
    padding-top: 10px;
    padding-left: 10px; 
} 
.title{
	font-size: 2em;
	text-decoration-color: black;
	margin-bottom: 15px;
	margin-left: 42px;
	top: 20px; 
}
.current{
	background-color: green;
	color: white;
	padding: 17px;
}
.home_icon img{
	width: 15px;
	height: 15px;
	position: fixed;
	right: 60px;
	top: 30px;
}
button{
	background-color: green;
   padding: 5px 10px;
   color: white;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   border: 1px solid #666;
   position: relative;

}
.create {
	margin-bottom: 5px;
	margin-left: 42px;
}
.tab{
	background-color: #ABABAB;
	margin-bottom: 20px;
	margin-left: 42px;
	top: 45px;
}


TABLE {
width: 95%;
margin-top: 1%;
margin-left: 2%;
margin-right: 2%;
margin-bottom: 2%;
border-collapse: collapse;
}
TR, TD, TH {
vertical-align: middle;
padding: 5px;
}
TH {
text-align:left;
background: green;
color: white;
}
tr:nth-child(1n) {
background: #B0B0B0;
}
tr:nth-child(2n) {
background: #A1A1A1;
}
.back_link a img{
	position: fixed;
	width: 15px;
	height: 15px;
	left: 70px;
	top: 27px;
}
.add{
	display: none;
	margin-bottom: 5px;
	top: 30px;
}
.add div input{
	width: 600px;
	height: 10px;
	padding: 5px 8px;
}

.add div{
	width:150px;
	position: relative;
	margin-top: 3px;
	margin-left: 40px;
	display: block;
	padding:3px;
}
.add div label{

	position: relative;
}
.required{
	display: none;
	margin-bottom: 3px;
	width: 200px;
	color: red;
	text-align: left ;
}
.delete > a > img{
	display: inline-block;
	text-decoration: none;
	width: 15px;
	height: 15px;
}
