body{
	background-color: white;
	background-size: 100%;
}
input.exist{
	border-color: red;
}
.main{
	background-color: #CFCACA;
	min-height: 100px;
	margin-left:2%;
	margin-right:2%;
	border: solid 1px black;
	border-collapse: collapse;
	overflow: hidden;
}
.header{
	background-color: #3B3535;
	overflow: hidden;
}
ul.head_menu li{
	display: inline-flex;
    float: left;
}
ul.head_menu li img{
	width: 13px;
}
ul.head_menu li a:hover{
	background: orange;
}
ul.home a img{
	width: 15px;
}
ul.home a{
	display: inline-block;
}
ul.home{
	float: right;
	margin: 0px;
	padding:14px 16px;
}
.head_menu{
	padding:0px;
	margin:0px;
}
ul.head_menu li a { 
    text-decoration: none; 
    color: white;
    padding: 14px 16px;
}
ul.head_menu li span {
    color: white;
    padding: 14px 16px;
    margin-left: 15px;
}
.title{
	font-size: 2em;
	color: black;
	margin-left: 32px;
	padding:10px;
}
a.log_out{
	text-decoration: none;
	float: right;
	margin-right:25px;
	color: black;
}
a.active{
	background-color: green;
	pointer-events: none;
	cursor: default;
}
ul.logout li{
	display:inline;
	margin-right: 25px;
	color: white;
}
.home_icon img{
	width: 15px;
	height: 15px;
	position: fixed;
	right: 60px;
	top: 30px;
}
.create button {
	background-color: green;
   padding: 5px 10px;
   color: white;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   border: 1px solid #666;
   margin-bottom: 5px;
   margin-left: 42px;
   margin-top: 10px;

}
.tab{
	background-color: #ABABAB;
	margin-bottom: 20px;
	margin-left: 42px;
	top: 45px;
}


TABLE {
width: 95%;
margin-top: 1%;
margin-left: 2%;
margin-right: 2%;
margin-bottom: 2%;
border-collapse: collapse;
}
TR, TD, TH {
vertical-align: middle;
padding: 8px;
}
TH {
text-align:left;
background: green;
color: white;
}
tr:nth-child(1n) {
background: #B0B0B0;
}
tr:nth-child(2n) {
background: #A1A1A1;
}
span.back_link a img{
	position: fixed;
	width: 15px;
	height: 15px;
	left: 70px;
	top: 27px;
}
.add{
	display: none;
	margin-bottom: 5px;
	top: 30px;
}
.add div input{
	width: 600px;
	height: 10px;
	padding: 5px 8px;
}

.add div{
	width:150px;
	position: relative;
	margin-top: 3px;
	margin-left: 40px;
	display: block;
	padding:3px;
}
form#add_account{
	display: none;
	margin-bottom: 5px;
	top: 30px;
}
#add_account div select{
	padding: 5px 8px;
}

#add_account div{
	width:150px;
	position: relative;
	margin-top: 3px;
	margin-left: 40px;
	display: block;
	padding:3px;
}
form#add_transaction{
	display: none;
	margin-bottom: 5px;
	top: 30px;
}
#add_transaction div select{
	padding: 5px 8px;
}
#add_transaction div input{
	padding: 5px 8px;
}

#add_transaction div{
	width:150px;
	position: relative;
	margin-top: 3px;
	margin-left: 40px;
	display: block;
	padding:3px;
}
.required{
	display: none;
	margin-bottom: 3px;
	width: 200px;
	color: red;
	text-align: left ;
}

button.delete img{
	display: block;
	cursor:pointer;
	width: 15px;
	height: 15px;
}
button.delete{
	border: 0; 
	background: transparent;
}
a.delete img{
	display: block;
	cursor:pointer;
	width: 15px;
	height: 15px;
}
a.delete{
	border: 0; 
	background: transparent;
	pointer-events: none;
}
#login_table{
	border: solid 1px gray;
	border-radius: 5px;
	width: 280px;
	background: #88C2B0;
	position: absolute;
     top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    overflow: hidden;
}
#login_form{
	padding: 10px;
}
#login_form div{
	width:150px;
	margin-top: 3px;
	margin-left: 40px;
	margin-bottom: 5px;
	display: block;
	padding:3px;
}
.btn_login{
	margin-left: 43px;
}
